* {
    box-sizing: border-box;
}

.tittle {
    font-size: 29px;
    background-color: #FFFFFF;
    font-weight: lighter;
    margin-bottom: 4px;
    margin-left: 22px;
}

.container-bg-color {
    background-color: #feeed6;
    padding-top: 1em;
    padding-bottom: 3em;
}

body {
    color: #676565;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.help-block {
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}

.form-application {
    line-height: 1.42857143;
    font-size: 14px;
    max-width: 744px;
    padding-right: 22px;
    padding-left: 22px;
    position: relative
}

.bold, .button {
    font-weight: 700;
}

.small-bottom-margin {
    margin-bottom: 4px;
}

.form-input, .form-textarea {
    border: none;
    background-color: #FFFFFF;
    padding: 6px 12px;
    font-size: 14px;
}

.form-input {
    height: 34px;
    width: 100%;
}

.form-textarea {
    width: 100%;
    height: 102px;
    resize: vertical;
}

.form-group {
    margin-bottom: 15px;
}

.button {
    padding: 7px 10px;
    color: #FFFFFF;
    background-color: #378db2;
    border: none;
    font-size: inherit;
    cursor: pointer;
    position: absolute;
    right: 2ex;
}

.button:hover {
    background-color: #32728D;
}