* {
    background-color: blanchedalmond;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #676565;
}

.text-blue {
    color: #378db2;
    font-weight: 700;
}

.sub-title {
    clear: left;
    margin-bottom: 0.3em;
    font-size: 0.85em;
    line-height: 1.42857143;
}

.price-without-discount {
    text-decoration: line-through;
}

h1 {
    text-transform: uppercase;
    margin-top: 0;
    font-size: 1.35em;
    line-height: inherit;
    margin-bottom: 10px;
    font-weight: 500;
}

p {
    margin: 0 0 10px;
    text-indent: 1em;
    font-size: 0.77em;
    line-height: 1.369;
}