.persons-table {
    max-width: 860px;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    font-family: Calibri, Helvetica, sans-serif;
    font-size: 22px;
}

.persons-table tbody tr:nth-child(odd) {
    background-color: #eee;
}

.persons-table thead {
    background-color: #3598db;
    color: #eee;
    text-align: left;
}

.persons-table td, .persons-table th {
    padding: 12px;
    border: 1px solid #d3d3d3;
    font-weight: normal;
}

