* {
    box-sizing: border-box;
}

body {
    font-family: "HONOR Sans", sans-serif;
}

.form {
    max-width: 500px;
    padding: 11px 11px 3px;
    vertical-align: top;
    height: 210px;
    border: 10px groove #FFC0CB;
    position: relative;
}

.border {
    padding-left: 5px;
    border: thin solid #000;
    position: absolute;
    right: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.inline-block, .border {
    display: inline-block;
    width: 200px;
    height: 27px;
}

.button {
    padding: 4px 10px;
    color: #000;
    background-color: #FFC0CB;
    cursor: pointer;
    position: absolute;
    right: 20px;
    font-weight: 700;
}

.input-Celsius {
    font-size: 1rem;
    padding: 1px 2px;
}