.add-todo-page .add-todo-form > * {
    display: inline-block;
    vertical-align: top;
}

.add-todo-page .error-message {
    color: #FF0000FF;
    display: none;
}

.add-todo-page .error-message2 {
    color: #FF0000FF;
    display: none;
}

.add-todo-page .invalid .invalid2 {
    border-color: #FF0000FF;
}

.add-todo-page .invalid + .error-message {
    display: block;
}

.add-todo-page .invalid2 + .error-message2 {
    display: block;
}

.add-todo-page .todo-list {
    padding-left: 0;
}

.add-todo-page .todo-list {
    padding-left: 0;
}

.add-todo-page .delete-button {
    margin-left: 5px;
}

.add-todo-page .edit-button {
    margin-left: 5px;
}

.add-todo-page .todo-item + .todo-item {
    margin-top: 10px;
}